[Unit]
Description=Odoo
Documentation=http://www.odoo.com
After=network.target

[Service]
WorkingDirectory=/opt/odoo/odoo
Type=simple
ExecStart=/opt/odoo/odoo/jnpl-deployment/scripts/run-odoo13.sh

[Install]
WantedBy=multi-user.target